#content {
  details {
    margin-bottom: 0.1rem;
  }

  .ui.button {
    margin: 0.5em 0.25em 0em 0em;
    // padding: 0.78571429em 1.5em 0.78571429em;
    padding: 0.6em 1.0em 0.6em;
  }

  .ui.segment{
    summary {
        font-weight:normal;
        font-size:14px;
    }
    p {
        font-size:15px;
        font-weight:350;
        margin-bottom: 0.2rem;
    }

    h4 {
        margin-top: 0rem;
        margin-bottom: 0.2rem;
        font-size:medium;
        // font-weight: bold;
    }

    h5 {
        margin-top: 0rem;
        margin-bottom: 0.3rem;
        font-size:14px;
        font-weight: 350;
    }

    // secondary {
    //     font-size:14px;
    //     font-weight:350;
    //     margin: 0.25em 0.25em 0em 0em;
    // }
  }
  .ui.small.image {
    width: 225px;
  }

}

